@charset "UTF-8";
@import "../lib/external/js/bootstrap/css/bootstrap.min.css";
@import "../lib/external/css/glyphicons/glyphicons.css";

.btn.btn-orange { background-color: #fbb551; border-color: #fbb551; color: #fff; }
.btn.btn-orange:hover { background-color: #f0ad4e; border-color: #f0ad4e; }

.panel-title form, .panel-title .btn, .panel-title form input , .panel-title form .form-group{ display: inline-block; }
.panel-title form { vertical-align: middle; line-height: 0; }
.panel-title .btn {height: 26px;}
.panel-title form input.input-sm { height: 26px; padding: 0 2px 0 2px; }
.panel-title form .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn
{
    line-height: 12px;
    height: 26px;
}
.panel-title form input[type=text], .panel-title form input[type=email], .panel-title form input[type=tel]
{
    border-color: #9A9CB2;
}
.panel-title form input[type=text]:focus, .panel-title form input[type=email]:focus, .panel-title form input[type=tel]:focus
{
    border-color: inherit;
}
.panel-title form .form-group {margin: 0;}
.container-nopadding *[class^="col-"] {padding: 0;}

.panel-cyan { border-color: #c4eaef; }
.panel-cyan > .panel-heading { background-color: #c4eaef; border-color: #c4eaef; color: #2c3e50;}